*{
    margin:0;
    padding:0;
    font-family: 'Poppins';

}
body{
    background: #100E0E;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(ImG/f.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* link modification of tab */
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/*hovering effect   */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6979F8;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}
.header-text h1 span{
    color: #6979F8;
}
.about-me{
    width: 60%;
    height: auto;
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-me p{
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    text-align: justify;
}
/* link modification inside p section of home */
.about-me p a{
    color: #fff;
    text-decoration: dashed;
    text-decoration-line: underline;
}

/* Element animation's color change */
#element{
    color: #6979F8;
}
/*----------------about--------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    height: auto;
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


/* portfolio */
#portfolio{
    padding: 50px 0;
}

/* grid banna */
.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

/* grid ka height and width */
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 310px;
    height: 280px;
    transition: transform 0.5s ease-in-out;    /*for delayed transition*/
    
}
/* image ka height and width */
.work img{
    width: 100%;
    border-radius: 12px;
    display: block;
    
    
}

/* text on the images */
.layer{
    width: 290px;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #6979F8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
/* text on image property */
.layer h3{
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}
/* .layer p{
    margin-top: 10px;
    padding-right: 10px;
} */
/* link icon */
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}
/* image zoom in */
.work:hover{
    /*scale krne kr liye */
    transform: scale(1.05);
} 
/* content on image ko hover karane ke liye */
.work:hover .layer{
    height: 100%;
}

/* explore more as a button */
.btn{
    display:block;
    margin: 0 auto;  /* center */
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #6979F8;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;   
    color: #fff;
    transition: background 0.5s ease-in-out ;
}
.btn:hover{
    background: #6979F8;

}
/* -----------------------------------------contact------------------ */
/* contact left  */
.contact-left{
    flex-basis: 40%;    /*width ke liye */
    
}
.contact-right{
    margin-top: 100px;
    flex-basis: 50%;    /*width ke liye */
    
}

.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    
}

.social-icons a:hover{
    transform: translateY(-5px);
}
/* -------submit button no space for bt2---- */
.btn.btn2{
    display: inline-block;
    background: #6979F8;
    font-size: 18px;
}

/* -----------right form------- */
.contact-right form{
    width: 100%;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #323233;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

/* to reduce the size between submit button and the form */
 form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

 }
 .thank{
    width: 100%;
    text-align: center;
    background: #323233;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;

}
/* for displaying the menu icon and close icon */
nav .fas{
    display: none;
}

/* css animation */
/* CSS for puzzle piece shapes */
.animate-puzzle {
    background: linear-gradient(60deg, #956209, #232223);
    background-size: 150% 150%;
    animation: gradientAnimation 5s ease infinite;
    clip-path: polygon(
        20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%
    );
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* CSS for up arrow */
#bottom-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Change 'left' to 'right' */
    display: none;
    transition: opacity 0.5s ease-in-out;
}

#upArrow {
    transition: transform 0.3s ease-in-out;
}

#upArrow:hover {
    transform: rotate(180deg);
}




 /* ---------------------css for small screen------------------------------------- */
@media only screen and (max-width: 600px) {
    #header{
        background-image: url(ImG/f34.png);
        
    }

    /* for texts */
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 25px;
        width: 200px;
    }
    .about-me{
        width: 300px;
        margin-top: 10px;

    }
    .about-me p{
        text-align: justify;
        font-size: 12px;
        font-weight: 5;
    }
    .logo{
        margin-top: 10px;
        width: 70px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #6979F8;
        position: fixed;
        top: 0;
        right: 470px;
        width: 200px;
        height: 95vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav .fas{
        display: block;
        font-size: 20px;
        margin-top: 15px;
        cursor: pointer;
    }
    .contact-left, .contact-right{
        flex-basis: 90%;
    }
    
    .sub-title{
        position: relative;
        top: 25px;
        left: 0;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 90%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;

    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .thank{
        font-size: 14px;
    }
    .contact-right{
        margin-top: 20px;
    }
}