*{
    margin:0;
    padding:0;
    font-family: 'Poppins';

}
body{
    background: #100E0E;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(ImG/f.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* link modification of tab */
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/*hovering effect   */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6979F8;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}
.header-text h1 span{
    color: #6979F8;
}
.about-me{
    width: 60%;
    height: auto;
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-me p{
    font-size: 20px;
    font-weight: 100;
    color: #fff;
}
/* link modification inside p section of home */
.about-me p a{
    color: #fff;
    text-decoration: dashed;
    text-decoration-line: underline;
}

/* Element animation's color change */
#element{
    color: #6979F8;
}
/*----------------about--------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    height: auto;
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


/* portfolio */
#portfolio{
    padding: 50px 0;
}

/* grid banna */
.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

/* grid ka height and width */
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 310px;
    height: 280px;
    transition: transform 0.5s ease-in-out;    /*for delayed transition*/
    
}
/* image ka height and width */
.work img{
    width: 100%;
    border-radius: 12px;
    display: block;
    
    
}

/* text on the images */
.layer{
    width: 290px;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #6979F8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
/* text on image property */
.layer h3{
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}
/* .layer p{
    margin-top: 10px;
    padding-right: 10px;
} */
/* link icon */
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}
/* image zoom in */
.work:hover{
    /*scale krne kr liye */
    transform: scale(1.05);
} 
/* content on image ko hover karane ke liye */
.work:hover .layer{
    height: 100%;
}

/* explore more as a button */
.btn{
    display:block;
    margin: 0 auto;  /* center */
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #6979F8;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;   
    color: #fff;
    transition: background 0.5s ease-in-out ;
}
.btn:hover{
    background: #6979F8;

}
/* -----------------------------------------contact------------------ */
/* contact left  */
.contact-left{
    flex-basis: 40%;    /*width ke liye */
    
}
.contact-right{
    margin: 30px;
    flex-basis: 50%;    /*width ke liye */
    
}

.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    
}

.social-icons a:hover{
    transform: scale(1.05);
}